name: CI Pipeline

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: [3.10, 3.11]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m venv env
          if [ $RUNNER_OS == 'Windows' ]; then
            .\env\Scripts\activate
          else
            source env/bin/activate
          fi
          pip install .

      - name: Run tests
        run: |
          if [ $RUNNER_OS == 'Windows' ]; then
            .\env\Scripts\activate
          else
            source env/bin/activate
          fi
          pytest